.cvHeader {
  justify-content: center;
  align-items: center;
  padding: 1rem 2.5rem;
  background-color: #121212;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 100;
  color: #fff;
}

.cvHeaderContainer section > span:first-of-type {
  font-weight: bold;
  display: inline-flexbox;
}

.cvHeaderContainer {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.importantBonusContainer {
  display: flex;
  gap: 10px;
}

.importantBonusContainer > div {
  flex: 1;
}

.cvHeaderContainer .address {
  display: flex;
  flex-direction: column;
}

/* in your CSS or CSS module */

.cvHeaderContainer svg {
  vertical-align: middle;
  margin-right: 5px;
  margin-left: -5px;
}
.cvHeaderContainer section {
  margin: 10px 0;
}
.linkedin span {
  display: inline-flex;
  align-items: center;
  white-space: normal; /* change this as needed */
}

.important {
  flex: 2;
}
.bonus {
  flex: 2;
}

.endOfTheSection {
  /* hr at the end of the section that doesn't reach the sides and aligned in the center */
  width: 90%;
  margin: 0px auto 20px;
  border: 0;
  border-top: 1px solid #ccc;
}
