.linkWrapper {
  display: flex;
  align-items: center;
  margin: 8px 2px;
}

.iconLabelWrapper {
  display: flex;
  align-items: center;
}

.addressType {
  flex-direction: column;
  align-items: flex-start;
}

.addressContent {
  padding: 0 23px;
}
